.nav {
    position:fixed;
    background-color: #fffff9;
    height:60px;
}
#nav-mobile li a {
    color: darkgrey;
    margin-top: -8px;
}
#nav-mobile li{
    height:60px;
}
#nav-mobile li a:hover {
    background-color: transparent;
    color:deepskyblue;
}
#nav-mobile1 li a:hover {
    background-color: transparent;
}
.nb{
    position: absolute;
    margin-top:-84px;
    margin-left:100px;
    z-index:10;
}
.display{
    display: inline-block;
    margin-top:50px;
}
.loaded{
    margin-right:30px;
}
.loaded1{
    width:516px;
    height:337px;
    margin-right:5px;
}